<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>博客后台管理系统</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.css" type="text/css">

    <script src="/public/js/jquery-1.10.1.js"></script>
    
    <script src="/public/js/bootstrap.min.js"></script>
    <style>
        table{text-align: center}
        table th{text-align: center}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">后台管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/user">用户首页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/api/admin/user/add">添加用户</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/category">分类首页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/category/add">添加分类</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文章管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/article">文章首页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/article/add">添加文章</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的信息 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/myself">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/myself/add">添加信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">友情链接 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/link">友情链接</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/admin/link/add">添加链接</a></li>
                    </ul>
                </li>
                <li><a href="/admin/comment">评论管理</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{unescape(userInfo.username)}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" id="logOut">退出</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    {% block main %}
    {% endblock %}
</div>
<script>
    $(function () {
        var $logOut = $("#logOut");
        $logOut.on('click',function () {
            $.ajax({
                url:'/api/user/logout',
                success:function (result) {
                    if(!result.code){
                        window.location.href="/";
                    }
                }
            })
        })
    })
</script>
</body>
</html>