<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>希声blog</title>
<meta name="keywords" content="个人博客，希声" />
<meta name="description" content="web前端新手程序员个人网站" />
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="/public/css/base.css" rel="stylesheet">
<link href="/public/css/about.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="/public/js/modernizr.js"></script>
    <![endif]-->
<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>


<header>
  <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav">
        {% for category in categories%}
        <a href="{{category.index + '?category=' + category.id}}"><span>{{category.name}}</span><span class="en">{{category.englishName}}</span></a>
        {% endfor%}
        <a href="/comment"><span>留言板</span><span class="en">Guestbook</span></a>
    </nav>
</header>
<article class="aboutcon">
<h1 class="t_nav"><span>{{category.description}}</span>
    <a href="/?category=59c746ff7cd53e0ebcc0dc4b" class="n1">网站首页</a>
    <a href="javascript:;" class="n2">关于我</a>
</h1>
<div class="about left">
    {% for about in myself %}
    {% autoescape false %}

    <h2>Just about me</h2>
    <ul>
        {{about.description}}
    </ul>
    <h2>About my blog</h2>
    <p>域  名：{{about.blogAddress}} &nbsp;&nbsp; 创建于{{about.time}}
        <a href="/" class="blog_link" target="_blank">注册域名</a>
    </p>
    <p>服务器：阿里云服务器<a href="https://www.aliyun.com/" class="blog_link" target="_blank">购买空间</a></p>
    <p>备案号：{{about.beian}}</p>
</div>
<aside class="right">  
    <div class="about_c">
    <p>网名：{{about.webName}}</p>
    <p>姓名：{{about.name}} </p>
    <p>生日：{{about.birth}}</p>
    <p>籍贯：{{about.address}}</p>
    <p>现居：{{about.now}}</p>
    <p>职业：{{about.job}}</p>
    <p>喜欢的书：{{about.likeBook}}</p>
    <p>喜欢的音乐：{{about.likeMusic}}</p>
</div>
</aside>
    {% endautoescape %}
    {% endfor %}
</article>
{% include "footer.html" %}
<script src="/public/js/silder.js"></script>


</body>
</html>