<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>希声blog</title>
  <meta name="keywords" content="个人博客，希声" />
  <meta name="description" content="web前端新手程序员个人网站" />
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/public/css/base.css" rel="stylesheet">

  {% block css %}

  {% endblock %}

  <script src="/public/js/jquery-1.10.1.js"></script>
  <!--[if lt IE 9]>
  <script src="/public/js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
    {% for category in categories%}
    <a href="{{category.index+'?category=' + category.id}}"><span>{{category.name}}</span><span class="en">{{category.englishName}}</span></a>
    {% endfor%}
    <a href="/comment"><span>留言板</span><span class="en">Guestbook</span></a>
  </nav>
</header>
{% block banner %}
{% endblock %}

<article class="blogs">
  {% block content %}

  {% endblock %}
  <aside class="right">

    {% block user %}

    {% endblock %}

    <div class="news">
      <div class="blank"></div>
      <div class="blank"></div>

      <h3>
        <p>最新<span>文章</span></p>
      </h3>
      <ul class="rank">
        {% for description in news %}
        <li><a href="/new?id={{description.id}}" title="{{description.description}}" target="_blank">{{description.title}}</a></li>
        {% endfor %}
      </ul>
      <h3 class="ph">
        <p>点击<span>排行</span></p>
      </h3>
      <ul class="paih">
        {% for rank in ranks %}
        <li><a href="/new?id={{rank.id}}" title="{{rank.description}}" target="_blank">{{rank.title}}</a></li>
        {% endfor %}
      </ul>
      <h3 class="links">
        <p>友情<span>链接</span></p>
      </h3>
      <ul class="website">
        {% for link in links %}

        <li><a href="{{link.link}}">{{link.name}}</a></li>

        {% endfor %}

      </ul>
    </div>
    <a href="javascript:;" class="weixin"></a>
  </aside>
</article>
{% include "footer.html" %}
<script src="/public/js/silder.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
