<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/public/css/base.css" rel="stylesheet">

<link href="/public/css/mood.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="/public/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav">
        {% for category in categories%}
        <a href="{{category.index + '?category=' + category.id}}"><span>{{category.name}}</span><span class="en">{{category.englishName}}</span></a>
        {% endfor%}
        <a href="/comment"><span>留言板</span><span class="en">Guestbook</span></a>
    </nav>
</header>
<div class="moodlist">
  <h1 class="t_nav">
      <span>{{category.description}}</span>
      <a href="/" class="n1">网站首页</a>
      <a href="javascript:;" class="n2">碎言碎语</a>
  </h1>
  <div class="bloglist">
      {% for moodlist in articles %}

    <ul class="arrow_box">
     <div class="sy">
     <img src="/public/images/001.png">
      <p>{{moodlist.description}}</p>
      </div>
      <span class="dateview">{{moodlist.addTime|date("Y-m-d")}}</span>
    </ul>
      {% endfor %}

  </div>
    <div class="blank"></div>

    <div class="page"><a title="Total record"><b><</b></a>
        <b>1</b><a href="javascript:;">2</a>
        <a href="javascript:;">&gt;</a>
    </div>
</div>
{% include "footer.html" %}
<script src="/public/js/silder.js"></script>
</body>
</html>